<?xml version="1.0"?>
<robot name="robotiq_ft_300" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_ft_300" params="prefix visual_parameters_file">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_ft_300/robotiq_ft_300_common.xacro" />

    <!-- Load configuration data from the provided .yaml files -->
    <xacro:read_model_data
      visual_parameters_file="${visual_parameters_file}"/>

    <link name="${prefix}robotside">
      <inertial>
        <origin xyz="0.01987 -0.00039088 -0.00013094" rpy="0 0 0" />
        <mass value="0.087805" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${sensor_visual_mesh}" />
        </geometry>
        <material name="${sensor_visual_material_name}">
          <color rgba="${sensor_visual_material_color}" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${sensor_collision_mesh}" />
        </geometry>
      </collision>
    </link>

    <!-- Make frame_id link as part of the kinematic change (e.g. for compatibility with cartesian force controllers) -->
    <link name="${prefix}frame_id"/>
    <link name="${prefix}toolside"/>

    <!-- FORCE REFERENCE FRAME
        As specified in the documentation:
        - The Z axis passes through the center of the depression with positive direction in the tool direction.
        - The X axis traces a symmetric line centered on the connector; the positive direction
            points the opposite way away from the connector.
        - The Y axis uses the right hand thumb rule according to X-Z. -->
    <joint name="${prefix}frame_id_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="${prefix}robotside" />
      <child link="${prefix}frame_id" />
    </joint>

    <!-- Revert to ROS convention orientation -->
    <joint name="${prefix}toolside_joint" type="fixed">
      <origin xyz="0 0 0.0348" rpy="0 ${-pi/2} ${pi/2}" />
      <parent link="${prefix}frame_id" />
      <child link="${prefix}toolside" />
    </joint>


  </xacro:macro>
</robot>
