<?xml version="1.0"?>
<robot name="robotiq_fts_300_cpl_062" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_fts_300_cpl_062" params="prefix visual_parameters_file">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_fts_300_cpl_062/robotiq_fts_300_cpl_062_common.xacro" />

    <!-- Load configuration data from the provided .yaml files -->
    <xacro:read_model_data
      visual_parameters_file="${visual_parameters_file}"/>

    <!-- Link representing the FT-300 mounting plate for Universal Robots -->
    <link name="${prefix}robotside">
      <inertial>
        <origin xyz="0.00227643166121317 -0.00163641909670073 -0.000186465195632485" rpy="0 0 0" />
        <mass value="0.0212636185801172" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mounting_plate_visual_mesh}" />
        </geometry>
        <material name="${mounting_plate_visual_material_name}">
          <color rgba="${mounting_plate_visual_material_color}" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mounting_plate_collision_mesh}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}toolside"/>

    <joint name="${prefix}toolside_joint" type="fixed">
      <origin xyz="0.0027 0 0" rpy="0 0 0" />
      <parent link="${prefix}robotside" />
      <child link="${prefix}toolside" />
    </joint>

  </xacro:macro>
</robot>
