<?xml version="1.0"?>
<robot name="robotiq_agc_tip_220_140" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_agc_tip_220_140/robotiq_agc_tip_220_140_macro.xacro" />

  <xacro:robotiq_agc_tip_220_140
    prefix=""
    visual_parameters_file="$(find robotiq_description)/config/robotiq_agc_tip_220_140/visual_parameters.yaml"/>
</robot>
